@import "tailwindcss";
@theme inline {
  --font-sf: var(--font-geist), system-ui, sans-serif;
  --color-surface: #ebebeb;
  --color-muted: #4d4d4d;
  --color-muted2: #737373;
}
/* Hide number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

html,
body {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

img,
svg {
  -webkit-user-drag: none;
  user-drag: none;
}

input,
textarea {
  -webkit-user-select: text;
  user-select: text;
}
